<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<img src="assets/img/process2.jpg" style="width:100%" alt="" />
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
			<div class="pull-left">
				<h4 class="text-bold">Payment for Vehicle History</h4>
			</div>
			<div class="pull-right">
				<h4 class="text-primary">$5</h4>
			</div>
		</div>
		<div class="clearfix"></div>
		<br>
		<hr style="border-color:#d5d8db"><br>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
			<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
		</div>
		<div class="clearfix"></div>
		<!-- <br>
		<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
			<form action="" method="POST" role="form">
		
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="emial/username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="" placeholder="password">
				</div>
					
			
				<button type="submit" class="btn btn-primary">Go To Paypal</button>
			</form>
		</div> -->
		<div class="clearfix"></div>
		<div class="col-md-6 col-md-offset-3  col-sm-8 col-sm-offset-2">
			<div class="or-text text-center">
				or
			</div>
		</div>
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<h5>Credit Card</h5>
			<img src="assets/img/credit.png" style="width:200px" />
			<div class="clearfix"></div>
			<br>
			<form action="" method="POST" role="form">
				<div class="form-group">
					<label for="">Name on Card</label>
					<input type="text" class="form-control" id="" value="John Snow">
				</div>

				<div class="form-group">
					<label for="">Card Number</label>
					<input type="text" class="form-control" id="" value="4392 2583 8095 2996">
				</div>

				<div class="form-group" style="width: 48%; float: left">
					<label for="">Expiration Date</label>
					<input type="text" class="form-control" id="" value="08/22">
				</div>

				<div class="form-group" style="width: 48%;float: left; margin-left: 4%">
					<label for="">Security Code</label>
					<input type="text" class="form-control" id="" value="545">
				</div>
				<div class="form-group">
					<label for="">Billing Address</label>
					<input type="text" class="form-control" id="" value="2700 Matherson Blvd">
				</div>
				<div class="form-group">
					<label for="">City</label>
					<input type="text" class="form-control" id="" value="Mississauge">
				</div>
				<div class="form-group" style="width: 65%; float: left">
					<label for="">Province</label>
					<input type="text" class="form-control" id="" value="Ontario">
				</div>

				<div class="form-group" style="width: 31%;float: left; margin-left: 4%">
					<label for="">Postal Code</label>
					<input type="text" class="form-control" id="" value="L4W 4V9">
				</div>


				<button type="submit" class="btn btn-danger" style="text-align: center" [routerLink]="['/vehiclehistory']">Submit</button>
			</form>
		</div>
	</div>
</div>